<!-- home.html -->

<div class=" row text-center">
    <h1>{{ title}}</h1>
    
    <h4>{{ message }}</h4>
</div>
<br>
<div class="row text-center ">
    <hr>
    <div class="divider"></div>
    <div class="col-md-2 ">

        <div class="panel panel-default">
            <div class=" panel-heading ">
                <h4>Panel de informacion </h4></div>
            <div class="panel-body">
                <h5> Info <span class="label label-info">{{numeroGrafos}}</span></h5>
            </div>
        </div>

    </div>

    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="graph" style="height: 300px">

                </div>
                <div id="graph2" style="height: 300px">

                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">


        <div class="col-md-12">
            <div class="panel panel-default">
                <div class=" panel-heading ">
                    <h4>Controles</h4></div>
                <div class="panel-body center">
                    <form class="navbar-form navbar-left " role="search" ng-submit="">



                        <input type="number" class="form-control text-center" placeholder="# de nodos" ng-model="this.numeroGrafos">
                        <br>
                        <br>


                        <button type="submit" class="btn btn-default">Generar</button>


                        <br>
                        <br>
                        

                    </form>
                    <form class="navbar-form navbar-left " role="search">

                        <input type="text" class="form-control text-center" placeholder="Eliminar:" ng-model="this.nodo">
                        <br><br>
                                        
                        <button ng-click="" class="btn btn-default">Eliminar</button>

                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
