<form>
    <div class="form-group">
        <label for="tipo_arreglo">Tipo de arreglo: </label>
        <input type="text" class="form-control" id="tipo_arreglo" name="tipo_arreglo">
    </div>
    <div class="form-group">
        <label for="nPaneles">Cantidad de paneles asociados: </label>
        <input type="text" class="form-control" id="nPaneles" name="nPaneles">
    </div>
    <div class="form-group">
        <label for="orientacion">Ángulo de orientación: </label>
        <input type="text" class="form-control" id="orientacion" name="orientacion">
    </div>
    <div class="form-group">
        <label for="inclinacion">Ángulo de inclinación: </label>
        <input type="text" class="form-control" id="inclinacion" name="nPaneles">
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
</form>
