<form ng-controller="AutomaticController as list" ng-submit="list.addModule()">
    <div class="form-group">
        <label for="p_STC">Potencia STC: </label>
        <input type="text" class="form-control" id="p_STC" name="p_STC" ng-model="list.vm.fecha">
    </div>
    <div class="form-group">
        <label for="p_NOCT">Potencia NOCT: </label>
        <input type="text" class="form-control" id="p_NOCT" name="p_NOCT" ng-model="list.vm.fecha">
    </div>
    <div class="form-group">
        <label for="eficiencia">Eficiencia: </label>
        <input type="text" class="form-control" id="eficiencia" name="eficiencia" ng-model="list.vm.fecha">
    </div>
    <div class="form-group">
        <label for="fact_desemp">Factor de desempeño: </label>
        <input type="text" class="form-control" id="fact_desemp" name="fact_desemp" ng-model="list.vm.fecha">
    </div>
    <div class="form-group">
        <label for="modelo">Modelo: </label>
        <input type="text" class="form-control" id="modelo" name="modelo" ng-model="list.vm.fecha">
    </div>
    <div class="form-group">
        <label for="descripcion">Descripción: </label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" ng-model="list.vm.fecha">
    </div>
    <div class="form-group">
        <label for="id_inversor">Inversor asociado: </label>
        <input type="text" class="form-control" id="id_inversor" name="id_inversor" ng-model="list.vm.fecha">
    </div>
    <div class="form-group">
        <label for="id_arreglo">Arreglo asociado: </label>
        <input type="text" class="form-control" id="id_arreglo" name="id_arreglo" ng-model="list.vm.fecha">
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
</form>