<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="tab.setTab(0)" ui-sref=".login"><i class="fa fa-terminal fa-lg" aria-hidden="true"></i>  SSV</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>-->
      </ul>
      <!--
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right">
        <li  ng-class="{ active:tab.isSet(1) }" data-toggle="tooltip"  title="Creación manual del grafo"><a ng-click="tab.setTab(1)" ui-sref=".manual" >Arreglos</a></li>
        <li ng-class="{ active:tab.isSet(2) }" data-toggle="tooltip"  title="Creación automática del grafo"><a ng-click="tab.setTab(1)" ui-sref=".automatic">Modulos FV</a></li>
        <li ng-class="{ active:tab.isSet(3) }" data-toggle="tooltip"  title="Carga del grafo"><a ng-click="tab.setTab(3)" ui-sref=".loaded">Inversores</a></li>
        
        
        <li class="dropdown " data-toggle="tooltip"  title="Debe crear primero el grafo" ng-class="{ active:tab.isSet(4) }">
          <a ng-click="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-sitemap" aria-hidden="true"></i> Opciones <span class="caret"></span></a>
          <ul class="dropdown-menu ">
           <li class="disabled"><a><strong>Titulo 1</strong></a></li>
            <li><a ng-click="tab.setearAlgoritmo('DFS')">Subtitulo</a></li>
            <li><a ng-click="tab.setearAlgoritmo('DLS')"> Subtitulo</a></li>
            <li><a ng-click="tab.setearAlgoritmo('IDS')"> Subtitulo </a></li>
            <li><a ng-click="tab.setearAlgoritmo('BFS')"> Subtitulo </a></li>
            <li><a ng-click="tab.setearAlgoritmo('BS')"> Subtitulo </a></li>
            <li><a ng-click="tab.setearAlgoritmo('UCS')">  Subtitulo </a></li>
            <li role="separator" class="divider"></li>
            <li class="disabled"><a><strong>Titulo 2</strong></a></li>
            <li><a ng-click="tab.setearAlgoritmo('BEST-FS')"> Subtitulo </a></li>
            <li><a ng-click="tab.setearAlgoritmo('AS')"> Subtitulo</a></li>
            <li><a ng-click="tab.setearAlgoritmo('HC')"> Subtitulo </a></li>
            <li><a ng-click="tab.setearAlgoritmo('SA')"> Subtitulo </a></li>
            <li><a ng-click="tab.setearAlgoritmo('TS')"> Subtitulo</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="tab.clean()">Opcion Cerrar</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
